.footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: auto;
    background-color: #e67e22;
    color: white;
    text-align: center;
    padding: 20px;
   
  }
  p{
      margin: 0;
  }