<div class="d-flex justify-content-center"> 
    <div>
        <img src="../../../assets/img/nube.png" alt="crearpersonaje" class="logos ">
    </div>
    
</div>
<div class="d-flex justify-content-center formCrear">
        <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
            <div class="form-group row">
                <label class="col-4 col-form-label">Nombre</label>
                <div class="col-8">
                    <input type="text" name="nombre" placeholder="Ingresa nombre" formControlName="nombre">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Descripción</label>
                <div class="col-8">
                    <input type="text" name="descripcion" placeholder="Ingresa descripción" formControlName="descripcion">
                </div>
            </div>  
            <!----div class="form-group row">
                <label class="col-2 col-form-label">Planeta</label>
                <div class="col-8">
                    <input type="text" name="planeta" placeholder="Ingrese planeta" formControlName="plataforma">
                </div>
            </div--> 
            <div class="form-group row">
                <label class="col-4 col-form-label">Imagen</label>
                <div class="col-8">
                    <input type="text" name="imagen" placeholder="Ingresa Url de imagen" formControlName="imagen">
                </div>
            </div>   
            <div class="form-group row">
                <label class="col-form-label">&nbsp;</label>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-primary btn-block">
                    Guardar
                    </button>
                </div>
                </div>  
        </form>
    </div>


